.logo img {
  display: block;
  width: 90%;
  height: 0 auto;
  padding-top: 48px;
  padding-bottom: 24px;
  margin: 0 auto;
  max-width: 580px;
}


h3 {
font-family: 'Crimson Text', serif;
font-size: 1.6em;
color: #000104;
letter-spacing: 6px;
text-transform: uppercase;
text-align: center;
line-height: 4%;
font-weight: lighter;
}

a:link {
    text-decoration: underline;
    color: #A64738;
    padding: 6px;
    border-radius: 3px;
}

a:visited {
    text-decoration: none;
    color: #A64738;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #A64738;
}

a:active {
    text-decoration: underline;
}

p {
font-family: 'Crimson Text', serif;
font-size: 18px;
color: #000104;
text-align: center;
line-height: 24px;
}

.section{
  padding: 12px;
}

.update-img{
  display: block;
  margin: 0 auto;
  max-width: 400px;
  height: auto;
  width: 100%;
  border-radius: 4px;
}

footer{
  font-style: italic;
  padding-bottom: 64px;
}

html {
  background: url(background.png) no-repeat center right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
