.logo img {
  display: block;
  width: 95%;
  height: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  max-width: 700px;
}

h3 {
font-family: 'Bungee', serif;
font-size: 2.1em;
color: #ed2b8d;
letter-spacing: 1px;
text-transform: uppercase;
text-align: center;
}

h2 {
font-family: 'Bungee', serif;
font-size: 1.6em;
color: #ed2b8d;
letter-spacing: 1px;
text-transform: uppercase;
text-align: center;
line-height: 32px;
}

a:link {
    text-decoration: underline;
    color: #4460ac;
    padding: 3px;
    border-radius: 3px;
}

a:visited {
    text-decoration: none;
    color: #4460ac;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #4460ac;
    -o-transition:.3s;
   -ms-transition:.3s;
   -moz-transition:.3s;
   -webkit-transition:.3s;
}

a:active {
    text-decoration: underline;
}

p {
font-family: 'Rubik', sans-serif;
font-size: 18px;
color: #28283a;
text-align: center;
line-height: 32px;
font-weight: 400;
letter-spacing: .03em;
}

.section{
  padding: 24px;
}

.update-img{
  display: block;
  margin: 0 auto;
  max-width: 480px;
  height: auto;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0px 0px 16px 16px #f9d4df;
}

footer {
  padding-bottom: 64px;
}

html {
  background: url(background.jpg) no-repeat center right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
